@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family:  'Montserrat', sans-serif;
    font-weight: 400px;
}
.main-header{
    background-color: #d0d6d5;
}
.content{
    background-color: azure;
}
.head{
    color: #00705c;
}